@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@400;500;700&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  min-width: 360px;
}

body {
  background-color: #FFFBFF;
  font-family:'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

.navbar {
  background-color: #294D4A;
}

.navbar-brand {
  color: #FFFBFF;
}

.navbar-toggler {
  background-color: #294D4A;
  border: 1px solid #FFFBFF;
}

.nav-link {
  color: #749C75;
}

#landing {
  text-align: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: end;
  align-content: flex-end;
  padding-left: 5em;
  height: 100vh;
}

#landing > div.intro {
  align-self: center;
  text-align: right;
  padding-left: 25px;
}

#landing > div.intro > h1 {
  font-weight: 600;
}

#landing > div.intro > h2 {
  color: #294D4A;
  font-weight: 600;
}

#landing > div > p {
  padding: 15px 0 0;
}

img {
  position: revert;
  bottom: 0px;
  right: 0px;
  height: 400px;
}

@media screen and (max-width: 650px) {
  #landing {
    justify-content: end;
    align-content: space-between;
  }
  
  .intro {
    text-align: left !important;
    position: absolute;
  }

  #landing > div.intro {
    align-self: center;
    padding: 0 1em;
    /* width: 70%; */
    left: 0;
    margin-bottom: 2em;
}
  
  img {
    /* bottom: 0px;
    right: 0px;
    height: auto;
    position: revert; */
    float: left;
    shape-outside: url(../images/icon);
    shape-image-threshold: .2;
    shape-margin: 20px;
    height: auto;
  }
}

@media screen and (max-width: 300px) {
  #landing > div.intro {
    width: 100%;
}
}

.container {
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
}

#tech-stack {
  background-color: #294D4A;
  color: #FFFBFF;
  padding: 3em 1em 1em;
  text-align: center;
  height: 100vh;
}


ul, li {
  text-align: left;
  list-style-type: none;

}

#gallery {
  
}

.card {
  background-color: #294D4A;
  margin: 25px;
}

.green-card {
  background-color: #294D4A;
  border: 3px solid #749C75;
  margin: 25px;
  padding: 1em 0 0;
  min-width: 200px;
  /* width: 300px; */
}

.tools {
  text-align: center;
  padding: 2em;
  border: #749C75 5px solid;
}